{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="mb-3">
        <a href="{{ path('app_product_index') }}" class="btn btn-outline-secondary btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left me-1" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>
            {{ 'Back to list'|trans }}
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h1 class="h4 mb-0">{{ product.name }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                {% if product.image %}
                    <div class="col-md-4 mb-3 mb-md-0">
                        <img src="{{ product.image }}" alt="{{ product.name }}" class="img-fluid rounded">
                    </div>
                {% endif %}
                <div class="col">
                    <table class="table table-bordered mb-0">
                        <tbody>
                            <tr>
                                <th class="bg-light w-25">{{ 'Id'|trans }}</th>
                                <td>{{ product.id }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">{{ 'Price'|trans }}</th>
                                <td class="fw-bold text-success fs-5">R$ {{ product.price|number_format(2, ',', '.') }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">{{ 'Stock'|trans }}</th>
                                <td>
                                    {% if product.stockQuantity > 10 %}
                                        <span class="badge bg-success">{{ product.stockQuantity }} {{ 'available'|trans }}</span>
                                    {% elseif product.stockQuantity > 0 %}
                                        <span class="badge bg-warning text-dark">{{ product.stockQuantity }} {{ 'available'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-danger">{{ 'Out of stock'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if product.image %}
                                <tr>
                                    <th class="bg-light">{{ 'Image'|trans }}</th>
                                    <td class="text-break">{{ product.image }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if product.description %}
                <hr>
                <h5>{{ 'Description'|trans }}</h5>
                <p class="text-muted">{{ product.description }}</p>
            {% endif %}
        </div>
        <div class="card-footer bg-light d-flex gap-2 justify-content-end">
            <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil me-1" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10z"/></svg>
                {{ 'Edit'|trans }}
            </a>
            <form action="{{ path('app_product_checkout', {'id': product.id}) }}" method="post" class="d-inline">
                <input type="hidden" name="_token" value="{{ csrf_token('checkout' ~ product.id) }}">
                <button type="submit" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart me-1" viewBox="0 0 16 16"><path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
                    {{ 'Buy'|trans }}
                </button>
            </form>
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
